.calculator{
  border: 2px solid black;
  width: 550px;
  border-radius: 3px;
  text-align: center;
  background-color: #071772;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* .inputContainer{
  width: 200px;
  font-size: 40px;
  margin: 10px;
} */
/* .buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

} */
/* .button{
  width: 75px;
  height: 75px;
} */