.calculator{
  border: 2px solid black;
  width: 250px;
  border-radius: 3px;
  text-align: center;
  
}
/* .inputContainer{
  width: 200px;
  font-size: 40px;
  margin: 10px;
} */
/* .buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

} */
/* .button{
  width: 75px;
  height: 75px;
} */